<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dogoout"
        tools:targetApi="31">
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.Register14Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register13Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register12Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register11Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register10Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register9Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register8Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register7Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register6Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register5Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register4Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register3Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register2Activity"
            android:exported="false" />
        <activity
            android:name=".registration.Register1Activity"
            android:exported="false" />
        <activity
            android:name=".mainscreen.MainActivity"
            android:exported="false"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>